header{
    background-image: url(img/twin\ towers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header p{
    color: red;
}
header ul{
    color: red;
}
#body-1{
    background-color: blue;
    color: white;
}
#body-2{
    background-color: green;
}
#body-3{
    background-image: url(img/building\ 7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: orangered;
}